html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: 'loubag';
  text-shadow: 0px 0px #b0d8d6;
  -webkit-text-stroke-color: #b0d8d6;
  -webkit-text-stroke-width: 0.5px;
  width: 80%;
  /* Set a width for the container */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  /* Limit to two lines */
  line-height: 1.5;
  /* Adjust the line height as needed */
}

.button {
  margin-top: 10px;
  /* Adjust the margin as needed */
}

.button-container {
  display: flex;
  justify-content: space-between;
  /* or other values like flex-start, center, etc. to adjust spacing */
}

.styled-button {
  margin: 10px;
  text-decoration: none;
  display: inline-flex;
  /* Use flexbox to center text */
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  background-color: #008080;
  font-family: 'loubag';
  letter-spacing: 2px;
  color: #ebeded;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;

  /* Hover effect */
  &:hover {
    background-color: #b0d8d6;
    transform: scale(1.05);
  }
}



.title {
  font-size: 60px;
  text-align: center;
  font-family: Monospace;
}


.header {
  font-size: 20px;
  font-family: 'loubag';
  display: flex;
  text-align: left;
  padding-left: 5px;
}

.page-background {
  background-color: #b0d8d6;
}

.header1 {
  font-size: 60px;
  font-family: Monospace;
}

.body {
  font-size: 18px;
  text-align: center;
  font-family: Monospace;
  padding: 0px 20px 20px 0px;
}

.header a {
  text-decoration: none;
  /* Remove the underline */
  color: #008080;
  /* Set the link color */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  /* Remove any default spacing */
  margin: auto;
  /* Center the image */
}

@font-face {
  font-family: 'loubag';
  src: url('/Users/mich/Desktop/gwc/pcos-answered2/public/loubag-6.ttf') format('.ttf');
}