html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



.sectionTeal {
  background-color: #008080;
  padding: 100px;
  /* Add some padding to the section for better visibility */
  color: white;
  /* Set text color to white for better contrast */
}

.sectionEmpty {
  padding: 30px;
  /* Add some padding to the section for better visibility */
  /* Set text color to white for better contrast */
}

.seperator {
  padding: 20px;
}

h2 {
  font-family: 'loubag';
}

h4 {
  font-family: 'loubag';
}

h5 {
  font-family: 'Optima', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Optima', sans-serif;
  font-size: 16px;
}

.nav-list li {
  font-family: 'Optima', sans-serif;
  font-size: 20px;
}

tr[data-toggle="collapse"]:hover {
  cursor: pointer;
}

li {
  font-family: 'Optima', sans-serif;
  font-size: 16px;
}

th {
  font-family: 'Optima', sans-serif;
  font-size: 25px;
}

td {
  font-family: 'Optima', sans-serif;
  font-size: 16px;
}

/* body p {
  font-family: 'Optima', sans-serif;
  font-size: 16px;
} */

.image {
  width: 550px;
}

.container_home {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: 'loubag';
  text-shadow: 0px 0px #b0d8d6;
  -webkit-text-stroke-color: #b0d8d6;
  -webkit-text-stroke-width: 0.5px;
  width: 80%;
  /* Set a width for the container */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 10;
  /* Limit to two lines */
  line-height: 2;
  /* Adjust the line height as needed */
}


.button {
  margin-top: 10px;
  /* Adjust the margin as needed */
}

.button-container {
  display: flex;
  justify-content: space-between;
  /* or other values like flex-start, center, etc. to adjust spacing */
}

.styled-button {
  margin: 10px;
  text-decoration: none;
  display: inline-flex;
  /* Use flexbox to center text */
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  background-color: #008080;
  font-family: 'loubag';
  letter-spacing: 2px;
  color: #ebeded;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  width: 250px;

  /* Hover effect */
  &:hover {
    background-color: #b0d8d6;
    transform: scale(1.05);
  }
}


.michelle {
  font-family: 'brittanian';
}

.title {
  font-size: 60px;
  text-align: center;
  font-family: "Loubag";
}



.disclaimer {
  font-size: 20px;
  text-align: center;
  font-family: 'Optima', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'loubag';
  align-items: center;
  padding: 5px 20px;
  maxWidth: 1200px;
  margin: 0 auto;
}

.headerHome {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'loubag';
  align-items: center;
  padding: 10px 200px;
  maxWidth: 1200px;
  margin: 0 auto;
}



.page-background {
  background-color: #b0d8d6;
}


.body {
  font-size: 18px;
  text-align: center;
  font-family: 'Optima', sans-serif;
  padding: 0px 20px 20px 0px;
}

.header a {
  text-decoration: none;
  /* Remove the underline */
  color: #008080;
  /* Set the link color */
}

.headerHome a {
  text-decoration: none;
  /* Remove the underline */
  color: #008080;
  /* Set the link color */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  /* Remove any default spacing */
  margin: auto;
  /* Center the image */
}

@font-face {
  font-family: 'brittanian';
  src: url('/Users/mich/Desktop/gwc/pcos-answered2/public/Brittanian.ttf') format('.ttf');
}

@font-face {
  font-family: 'loubag';
  src: url('/Users/mich/Desktop/gwc/pcos-answered2/public/loubag-6.ttf') format('.ttf');
}

@font-face {
  font-family: 'analogist';
  src: url('/Users/mich/Desktop/gwc/pcos-answered2/public/Analogist.ttf') format('.ttf');
}


.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-list li {
  margin-right: 10px;
}